*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container
{
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(135deg, #153677,#7d0d98);
    padding: 10px;
}

.todo-app
{
    width: 100%;
    max-width:540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 30px;


}

.todo-app h2
{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.row 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    padding-left: 20px;
    border-radius: 30px;
    margin-bottom: 25px;
}

input
{
    flex: 1;
    border:none;
    outline: none;
    padding: 10px;
    background: transparent;
}

button
{
    border: none;
    outline: none;
    padding: 16px 50px;
    font-size: 16px;
    cursor:pointer;
    border-radius: 40px;
    background: #ff5945;
    color: #fff;
    font-weight: 500;
   
}
ul li{
    cursor: pointer;
    user-select: none;
    list-style: none;
    padding: 12px 8px 12px 50px;
    font-size: 17px;
    position: relative;
}

ul li::before
{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    top: 9px;
    background-image: url(uncheck.svg);
    background-size: cover;
    background-position: center;
    left: 8px;
    

}

ul li.checked
{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(checked.svg);
  
}

ul li span
{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    font-weight: 600;
}

ul li span:hover {
    background-color: red;
    border-radius: 50%;
    color: white;
    /* background: #edeef0; */
}